<section class="cont-contacto">
    <div class="contenedor2">
        <div class="img-contacto">
            <div class="barra25p">
                <img src="images/contacto/contacto_02.jpg" id="img-1" />
                <img src="images/contacto/contacto_03.jpg" id="img-2" />
                <img src="images/contacto/contacto_04.jpg" id="img-3" />
                <img src="images/contacto/contacto_05.jpg" id="img-4" />
            </div>
            <div class="barra25p">
                <img src="images/contacto/contacto_06.jpg" id="img-5" />
                <img src="images/contacto/contacto_08.jpg" id="img-6" />
                <img src="images/contacto/contacto_10.jpg" id="img-7" />
            </div>
            <div class="barra50p">
                <div class="cont-barrasdown25 barras2">
                    <div class="barra50p">
                        <img src="images/contacto/contacto_11.jpg" id="img-8" />
                        <img src="images/contacto/contacto_12.jpg" id="img-9" />
                    </div>
                    <div class="barra50p">
                        <img src="images/contacto/contacto_16.jpg" id="img-10" />
                        <img src="images/contacto/contacto_17.jpg" id="img-11" />
                    </div>
                </div>
                <div class="cont-imgcont">
                    <img src="images/contacto/contacto_14.jpg" />
                </div>
            </div>
        </div>
        <div class="cont-fcontacto">
            <h1>CONTACTANOS</h1>
            <span>
        <span class="color-gb">¿Tienes alguna pregunta?</span>
            <br/> Póngase en contacto con nosotros y le ayudaremos rápidamente con la respuesta que necesita.
            </span>
            <form class="f-contacto">
                <input type="text" placeholder="NOMBRE" />
                <input type="text" placeholder="MAIL" />
                <textarea placeholder="COMENTARIO"></textarea>
                <input type="submit" value="Enviar" />
            </form>
        </div>
        <div class="info-copyright">
            <ul>
                <li>
                    <a href="#"><img src="images/ico-facebook.jpg" alt="icono facebook" /></a>
                </li>
                <li>
                    <a href="#"><img src="images/ico-twitter.jpg" alt="icono twitter" /></a>
                </li>
                <li>
                    <a href="#"><img src="images/ico-instagram.jpg" alt="icono instagram" /></a>
                </li>
                <li>
                    <a href="#"><img src="images/ico-youtube.jpg" alt="icono youtube" /></a>
                </li>
            </ul>
            <span><a href="#">Quienes somos</a>  |  <a href="#">Encuéntranos</a>  |  <a href="#">Trabaja con  nosotros</a>  |  <a href="#">Contacto</a>  |  © 2014 ÓPTICA LOS ANDES ALL RIGHTS RESERVED  ·  Powered by Share Digital Agency</span>
        </div>
    </div>
</section>
<div class="nav-circ">
    <a href="#/">1</a>
    <a href="#/promo">2</a>
    <a href="#/contacto" class="div-selected">3</a>
</div>
