<div class="resp-home blue-ola" ng-swipe-up="swipeup($event)">
    <div class="lens-txt"><img src='images/banner1-01.png'></div>
    <div class="lens"><img src='images/banner1-02.png'></div>
    <div class="lens-txt2"><img src='images/banner1-03.png'></div>
    <div class="lens-txt3"><img src='images/banner1-04.png'></div>
</div>
<section class="sliderhome" ng-swipe-up="swipeup($event)">
	<div class="slider-wrapper">
			<div class="responisve-container" style="background: #2797C5;">
				<div class="slider">
					<div class="fs_loader"></div>
					<div class="slide blue-ola" data-step=”0″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-01.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/banner1-02.png" 
								width="500" height="202" 		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner1-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
					<div class="slide blue-ola" data-step=”1″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-01.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/gafas2-02.png" 
								width="500" height="202" 		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner1-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
                    <div class="slide blue-ola" data-step=”2″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-01.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/gafas3-02.png" 
								width="500" height="202"		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner1-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
                   
				</div>
			</div>
        <!--slide2
<div class="responisve-container" style="background: #2797C5;">
				<div class="slider">
					<div class="fs_loader"></div>
					<div class="slide blue-ola" data-step=”0″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-02.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/banner1-02.png" 
								width="500" height="202" 		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner2-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
					<div class="slide blue-ola" data-step=”1″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-01.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/gafas2-02.png" 
								width="500" height="202" 		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner1-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
                    <div class="slide blue-ola" data-step=”2″ data-special="cycle" data-delay="1000">
						<img 	src="images/banner1-01.png"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
								
						<img    src="images/gafas3-02.png" 
								width="500" height="202"		
								data-position="100,250" data-in="top" data-delay="200">
								
						<img    src="images/banner1-03.png" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    src="images/banner1-04.png" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
						
					</div>
                   
				</div>
			</div>
        <!--endslide2-->
		</div>
</section>
<div class="nav-circ">
	<a href="#/" class="div-selected">1</a>
	<a href="#/promo" ng-click="toSection($event,2)">2</a>
	<a href="#/contacto" ng-click="toSection($event,3)">3</a>
</div>
