<div class="resp-home blue-ola4" ng-swipe-up="swipeup($event)">
    <div class="lens-txt"><img src='images/banner1-01.png'></div>
    <div class="lens"><img src='images/banner1-02.png'></div>
    <div class="lens-txt2"><img src='images/banner1-03.png'></div>
    <div class="lens-txt3"><img src='images/banner1-04.png'></div>
</div>
<section class="sliderhome" ng-swipe-up="swipeup($event)">
	<div class="slider-wrapper">
			<div class="responisve-container" style="background: #2797C5;">
				<div class="slider">
					<div class="fs_loader"></div>
					<!-- <div class="slide blue-ola{{banner}}" data-step=”0″ data-special="cycle" data-delay="1000">
						<img 	ng-src="{{banner01}}"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
						<img    src="images/banner1-02.png" 
								width="500" height="202" 
								data-position="100,250" data-in="top" data-delay="200">
						<img    ng-src="{{banner03}}" 
								width="194" height="159" 
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    ng-src="{{banner04}}" 
								width="429" height="32" 
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
					</div>
					<div class="slide blue-ola{{banner}}" data-step=”1″ data-special="cycle" data-delay="1000">
						<img 	ng-src="{{banner01}}"
								width="223" height="189"			
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
						<img    src="images/gafas2-02.png" 
								width="500" height="202" 		
								data-position="100,250" data-in="top" data-delay="200">
						<img    ng-src="{{banner03}}" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    ng-src="{{banner04}}" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
					</div>
                    <div class="slide blue-ola{{banner}}" data-step=”2″ data-special="cycle" data-delay="1000">
						<img 	ng-src="{{banner01}}"
								width="223" height="189"	
								data-position="100,0" data-in="left" data-delay="200" data-out="bottom">
						<img    src="images/gafas3-02.png" 
								width="500" height="202"		
								data-position="100,250" data-in="top" data-delay="200">
						<img    ng-src="{{banner03}}" 
								width="194" height="159"
								data-position="100,800" data-in="right" data-delay="200" data-out="bottom">
                        <img    ng-src="{{banner04}}" 
								width="429" height="32"
								data-position="300,260" data-in="right" data-delay="200" data-out="bottom">
					</div> -->
					<div class="slide blue-ola{{banner[1]}}" data-step=”0″ data-special="cycle" data-delay="1000">
                        <!--Imagenes-->
                        <img    src="images/imagenes1_{{banner[1]}}_ima.png"	
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-delay="1000">		
						<img    src="images/imagenes2_{{banner[1]}}_ima.png" 
                        		width="500" height="202" 	
								data-position="100,250" data-in="left" data-special="cycle" data-delay="4000">		
						<img    src="images/imagenes3_{{banner[1]}}_ima.png"		
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-special="cycle" data-delay="7000" data-out="left">
                                
                        <!--Texto derecha-->
						<img    src="images/banner{{banner[1]}}-03_msn.png"
								width="194" height="159"
								data-position="100,800" data-in="left" data-delay="8000" data-out="rigth">
                        
                        <!--Fondo azul-->
                    	<img 	src="images/banner{{banner[1]}}-01_bg.png"
								width="253" height="199"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                       	
                        <!--Cuadrado blanco-->
                        <img 	src="images/banner1-01_box.png"
								width="223" height="189"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                                
                        <!--Punto blanco-->
                        <img 	src="images/banner{{banner[1]}}-01_point.png"
								width="30" height="30"			
								data-position="260,190" data-in="fade" data-delay="2000" data-out="left">
                                    
                        <!--Texto izquierda-->
                        <img 	src="images/banner{{banner[1]}}-01_tex.png"
								width="120" height="100"			
								data-position="135,40" data-in="top" data-delay="500" data-out="top">
                                
						<!--Texto inferior-->
                        <img    src="images/banner{{banner[1]}}-04_ley.png"
								width="429" height="32" 
								data-position="300,280" data-in="right" data-delay="200" data-out="left">     
					</div>
                    <div class="slide blue-ola{{banner[2]}}" data-step=”1″ data-special="cycle" data-delay="1000">
                        <!--Imagenes-->
                        <img    src="images/imagenes1_{{banner[2]}}_ima.png"	
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-delay="1000">		
						<img    src="images/imagenes2_{{banner[2]}}_ima.png" 
                        		width="500" height="202" 	
								data-position="100,250" data-in="left" data-special="cycle" data-delay="4000">		
						<img    src="images/imagenes3_{{banner[2]}}_ima.png"		
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-special="cycle" data-delay="7000" data-out="left">
                                
                        
                        <!--Texto derecha-->
						<img    src="images/banner{{banner[2]}}-03_msn.png"
								width="194" height="159"
								data-position="100,800" data-in="left" data-delay="8000" data-out="rigth">
                        
                        <!--Fondo azul-->
                    	<img 	src="images/banner{{banner[2]}}-01_bg.png"
								width="253" height="199"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                       	
                        <!--Cuadrado blanco-->
                        <img 	src="images/banner1-01_box.png"
								width="223" height="189"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                                
                        <!--Punto blanco-->
                        <img 	src="images/banner{{banner[2]}}-01_point.png"
								width="30" height="30"			
								data-position="260,190" data-in="fade" data-delay="2000" data-out="left">
                                    
                        <!--Texto izquierda-->
                        <img 	src="images/banner{{banner[2]}}-01_tex.png"
								width="120" height="100"			
								data-position="135,40" data-in="top" data-delay="500" data-out="top">
                                
						<!--Texto inferior-->
                        <img    src="images/banner{{banner[2]}}-04_ley.png"
								width="429" height="32" 
								data-position="300,280" data-in="right" data-delay="200" data-out="left">     
					</div>
                    <div class="slide blue-ola{{banner[3]}}" data-step=”2″ data-special="cycle" data-delay="1000">
                        <!--Imagenes-->
                        <img    src="images/imagenes1_{{banner[3]}}_ima.png"	
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-delay="1000">		
						<img    src="images/imagenes2_{{banner[3]}}_ima.png" 
                        		width="500" height="202" 	
								data-position="100,250" data-in="left" data-special="cycle" data-delay="4000">		
						<img    src="images/imagenes3_{{banner[3]}}_ima.png"		
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-special="cycle" data-delay="7000" data-out="left">
                                
                        
                        <!--Texto derecha-->
						<img    src="images/banner{{banner[3]}}-03_msn.png"
								width="194" height="159"
								data-position="100,800" data-in="left" data-delay="8000" data-out="rigth">
                        
                        <!--Fondo azul-->
                    	<img 	src="images/banner{{banner[3]}}-01_bg.png"
								width="253" height="199"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                       	
                        <!--Cuadrado blanco-->
                        <img 	src="images/banner1-01_box.png"
								width="223" height="189"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                                
                        <!--Punto blanco-->
                        <img 	src="images/banner{{banner[3]}}-01_point.png"
								width="30" height="30"			
								data-position="260,190" data-in="fade" data-delay="2000" data-out="left">
                                    
                        <!--Texto izquierda-->
                        <img 	src="images/banner{{banner[3]}}-01_tex.png"
								width="120" height="100"			
								data-position="135,40" data-in="top" data-delay="500" data-out="top">
                                
						<!--Texto inferior-->
                        <img    src="images/banner{{banner[3]}}-04_ley.png"
								width="429" height="32" 
								data-position="300,280" data-in="right" data-delay="200" data-out="left">     
					</div>
                    <div class="slide blue-ola{{banner[4]}}" data-step=”3″ data-special="cycle" data-delay="1000">
                        <!--Imagenes-->
                        <img    src="images/imagenes1_{{banner[4]}}_ima.png"	
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-delay="1000">		
						<img    src="images/imagenes2_{{banner[4]}}_ima.png" 
                        		width="500" height="202" 	
								data-position="100,250" data-in="left" data-special="cycle" data-delay="4000">		
						<img    src="images/imagenes3_{{banner[4]}}_ima.png"		
                        		width="500" height="202" 
								data-position="100,250" data-in="left" data-special="cycle" data-delay="7000" data-out="left">
                                
                        
                        <!--Texto derecha-->
						<img    src="images/banner{{banner[4]}}-03_msn.png"
								width="194" height="159"wwww
								data-position="100,800" data-in="left" data-delay="8000" data-out="rigth">
                        
                        <!--Fondo azul-->
                    	<img 	src="images/banner{{banner[4]}}-01_bg.png"
								width="253" height="199"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                       	
                        <!--Cuadrado blanco-->
                        <img 	src="images/banner1-01_box.png"
								width="223" height="189"			
								data-position="100,0" data-in="right" data-delay="200" data-out="left">
                                
                        <!--Punto blanco-->
                        <img 	src="images/banner{{banner[4]}}-01_point.png"
								width="30" height="30"			
								data-position="260,190" data-in="fade" data-delay="2000" data-out="left">
                                    
                        <!--Texto izquierda-->
                        <img 	src="images/banner{{banner[4]}}-01_tex.png"
								width="120" height="100"			
								data-position="135,40" data-in="top" data-delay="500" data-out="top">
                                
						<!--Texto inferior-->
                        <img    src="images/banner{{banner[4]}}-04_ley.png"
								width="429" height="32" 
								data-position="300,280" data-in="right" data-delay="200" data-out="left">     
					</div>

				</div>
			</div>
		</div>
</section>
<div class="nav-circ">
	<a href="#/" class="div-selected"></a>
	<a href="#/promo" ng-click="toSection($event,2)"></a>
	<a href="#/contacto" ng-click="toSection($event,3)"></a>
</div>
