<div class="cont-locales">
	<div class="list-locales">
		<span>Optica los Andes posee 50 locales, por todo el Ecuador por las principales ciudades del país, ofreciendo productos de calidad y facilidad a nuestros clientes donde quiera que este.</span>
		<span>Además tenemos locales en Perú. <a href="http://www.eyesillusion.com/" target="_blank">Eyes Illusion</a></span>
		<div class="loading2" ng-show="loading">
			<div class="dot"></div>
			<div class="dot2"></div>
		</div>
		<ul ng-show="!loading">
			<li ng-repeat="(key, ciudad) in ciudades">
				<a href="javascript:void(0)" ng-click="changeCity(key)" ng-class="{selectedList: ciudadActiva==key}">{{ciudad.name}}</a>
				<ul class="submenu-locales at-view-slide-in-left at-view-flip-out-right-opposite ng-scope" ng-if="desplegar && ciudadActiva==key">
					<li ng-repeat="(key2, local) in ciudad.locales">
						<a href="javascript:void(0)" ng-click="changeStore(key2)">{{local.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="info-locales">
		<div class="tit-encuentranos">ENCUÉNTRANOS</div>
		<div class='locales-img'>
		<img src="images/{{store.picture}}" alt="imagen local" />
		</div>
		<div class="desc-locales" ng-show="localActivo!=0">
			<div class="direccion">
				<img src="images/ico-locales.png" alt="icono direccion" />
				<div class="txt-locales">
					<h4>{{store.name}}</h4>
					<span>{{store.address}}</span>
					<div class="txt-telefonos" ng-if="store.phone">
						<img src="images/ico-telefono.png" alt="icono telefono" />
						<span>{{store.phone}}</span>
					</div>
					<div class="txt-telefonos" ng-if="store.cellphone">
						<img src="images/ico-movil.png" alt="icono telefono" />
						<span>{{store.cellphone}}</span>
					</div>
				</div>
			</div>
			<div class="direccion">
				<img src="images/ico-horario.png" alt="icono direccion" />
				<div class="txt-locales">
					<h4>HORARIO DE ATENCIÓN</h4>
					<span>{{store.schedule}}</span>
				</div>
			</div>
			<div class="direccion-maps" ng-if="store.map">
				<a href="http://maps.google.com?z=16&q={{store.map}}&ll={{store.map}}" target="_blank">
					<img src="images/ico-ubicacion.png" alt="icono ubicación" />
					<h4>VER UBICACIÓN DEL LOCAL </h4>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
</div>
