<section id="cont-home">
	<div class="tit-promo"></div>
	<div class="section-promo gift-card"><img src="images/promo/promo1.png"/><h1>GIFT CARD</h1><!--<a href="#">VER INFORMACIÓN >></a>--></div>
    <div class="section-promo platinum"><img src="images/promo/promo2.png"/><h1>PLATINUM</h1><a href="http://opticalosandes.com.ec/web/partials/promo1.html" id="btn-promoplatinum" class="btn-promoplatinum">VER INFORMACIÓN >></a></div>
    <div class="section-promo promosop"><img src="images/promo/promo3.svg"/><h1>PROMOCIONES</h1><span>
Promoción válida por tiempo limitado, a nivel nacional en locales de ÓPTICA LOS ANDES, a excepción de locales OUTLET. Aplica para compra de armazones, gafas y lunas excepto marca CARTIER, Lentes de Contacto, líquidos y accesorios. Descuento base del 20% aplica para pagos al contado, crédito corriente y diferido CON intereses; para pagos diferidos SIN intereses aplica 15% de descuento. Descuento adicional del 15% aplica en pagos al contado, crédito corriente y diferido CON intereses; para pagos diferidos SIN intereses aplica 10% de descuento.
<br/>
Descuento adicional aplicará en montos mínimos de compra establecidos por ÓPTICA LOS ANDES. Las imágenes publicitarias son referenciales. No acumulable con otras promociones y/o descuentos. En caso de requerir materiales adicionales a los ofertados en la promoción el valor será facturado aparte. </span></div>

</section>
