<section class="section-cp">
	<!--  -->
	<div class="info-cp">
		<div class="info-promo">
			<h1>TÚ ERES TWO</h1>
			<span>
           <!-- Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
            <br/><br/>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.-->
            </span>
		</div>
		<video id="vid1" controls starttime="0.5">
			<source src="images/videos/TU_eres_TWO.webm" type="video/webm" />
			<source src="images/videos/TU_eres_TWO.mp4" type="video/mp4" />
			<source src="images/videos/TU_eres_TWO.ogg" type="video/ogg" />
			HTML5 Video is required for this example
		</video>
	</div>
	<!--  -->
</section>
<div class="nav-circ">
	<a href="#/" ng-click="toSection($event,1)">1</a>
	<a href="#/promo" class="div-selected">2</a>
	<a href="#/contacto" ng-click="toSection($event,3)">3</a>
</div>
