<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<link href="../css/styles-optica.css" rel="stylesheet"/>
</head>

<body style="overflow:scroll !important">
<div id="pest-promo">
Óptica Los Andes pensando siempre en sus mejores y más preciados clientes, crea el primer  club clientes de la industria óptica Ecuatoriana denominado CLUB PLATINUM.
<br/><br/>
El cual le permite y le brinda total distinción y exclusividad en cuanto a beneficios diseñados únicamente para los miembros del mismo.
<br/><br/>
<h1>MEMBRESIAS-SOCIOS</h1>
<br/>
La membresia es entregada a nuestros más fieles clientes y se da bajo merecimiento despues de realizar un estudio individual y valoración a la permanencia del cliente y de las compras realizadas.
<br/><br/>
<h1>IDENTIFICACIÓN-SOCIOS</h1>
<br/>
Todos los clientes socios del club poseerán una identificación personalizada (tipo tarjeta de credito) la cual será entregada única y exclusivamente al cliente. (ahí debera aparecer la imagen de la tarjeta)
<br/><br/>
<h1>COSTOS Y PERMANENCIA-SOCIOS</h1>
<br/>
CLUB PLATINUM no maneja ningún costo por ingreso o mantenimiento todos los servicios y/o beneficios entregados por la tarjeta son por cuenta y cargo de Óptica Los Andes, la permanencia y/o duración de la membresia tendrá como validez un año desde el momento que se realiza la entrega de la tarjeta. 
<br/><br/>
<h1>REPOSICIÓN TARJETA-SOCIOS</h1>
<br/>
Los clientes socios del club podrán solicitarnos una reposición en caso de deterioro, robo o perdida sin costo alguno siempre y cuando el cliente haya tenido actividad como socio y haya hecho uso de su tarjeta.
<br/><br/>
<h1>DERECHOS DE UTILIZACIÓN</h1>
<br/>
El cliente y solo el cliente titular de la tarjeta podrá hacer uso de su tarjeta de socio, la tarjeta no puede ni podrá ser trasferida ni usada en la aplicación de beneficios para otra persona, Óptica Los Andes no se responsabiliza por la enajenación y/o mala utilización de la tarjeta por otra persona, en caso de robo deberá reportarse el siniestro a cualquiera de nuestros locales o a través de nuestro call center 1800OPTICA, Óptica Los Andes se reserva el derecho de retirar la membrecía en caso de mal uso y/o utilización
<br/><br/>
<h1>BENEFICIOS INICIALES-SOCIOS</h1>
<br/>
1.-  Mantenimiento Gratuito de sus lentes en sus visitas al local (cuadre de armazón-cambio de plaquetas y limpieza con ultrasonido) y un kit de limpieza cada 6 meses<br/>
2.-  Un lubricante visual por cada compra que realice<br/>
3.-  Reducción de tiempo de entrega en 2 días, esto de acuerdo a los tiempos normales de entrega establecidos para la elaboración de cada producto<br/>
4.-  En cada compra  OLA le regala cobertura extendida OLA PLUS por 3 meses contra daño accidental y/o robo. <br/>
<br/><br/>
Los beneficios 2 y 4 expuestos no son acumulables, el cliente y solo el cliente podrá decidir entre cual de los 2 desea aplicar en su compra. El resto de beneficios expuestos si podrán ser acumulados en una misma compra. 
<br/><br/>
Es importante que para la implementación de este requerimiento se considere diseño basado en colores y tema de la tarjeta.
</div>
</body>
</html>
