<section class="section-cp" ng-swipe-up="swipeup($event)" ng-swipe-down="swipedown($event)">
	<!--  -->
	<div class="info-cp">
		<div class="info-promo">
			<h1>TODO LO QUE QUIERES VER</h1>
		</div>
		<video ng-repeat="vid in videos track by $index" id="vid{{$index}}" controls ng-show="currentVideo==$index">
			<source ng-src="{{vid.webm}}" type="video/webm" />
			<source ng-src="{{vid.mp4}}" type="video/mp4" />
			<source ng-src="{{vid.ogg}}" type="video/ogg" />
			HTML5 Video is required for this example
		</video>
		<!-- <video id="vid1" controls ng-show="currentVideo==1">
			<source src="images/videos/TU_eres_TWO.webm" type="video/webm" />
			<source src="images/videos/TU_eres_TWO.mp4" type="video/mp4" />
			<source src="images/videos/TU_eres_TWO.ogg" type="video/ogg" /> HTML5 Video is required for this example
		</video>
		<video id="vid2" controls ng-show="currentVideo==2">
			<source src="images/videos/TU_eres_TWO.webm" type="video/webm" />
			<source src="images/videos/TU_eres_TWO.mp4" type="video/mp4" />
			<source src="images/videos/TU_eres_TWO.ogg" type="video/ogg" /> HTML5 Video is required for this example
		</video> -->
		<div style="float:left; width:40%; padding-left:4%;">
			<canvas ng-repeat="vid in videos track by $index" id="cvs{{$index}}" style="width:90%" ng-click="changeVideo($index)"></canvas>
			<!-- <canvas id="cvs1" style="width:90%" ng-click="changeVideo(1)"></canvas>
			<canvas id="cvs2" style="width:90%" ng-click="changeVideo(2)"></canvas> -->
		</div>
	</div>
	<!--  -->
</section>
<div class="nav-circ">
	<a href="#/" ng-click="toSection($event,1)">1</a>
	<a href="#/promo" class="div-selected">2</a>
	<a href="#/contacto" ng-click="toSection($event,3)">3</a>
</div>
