<div class="cont-quienes" ng-swipe-up="swipeup($event)">
    <section class="gb-laempresa">
        <div class="img-laempresa"><img src="images/laempresa.jpg" alt="img-laempresa" /></div>
        <div class="info-laempresa">
            <!-- <h1>Nuestra Promesa</h1>
            <span>
            Brindar al cliente un servicio de salud visual de calidad y moda, con optómetras profesionales, asesoría personalizada en el punto de venta, cumpliendo el tiempo de entrega ofrecido.
        </span> -->
            <h1>Historia</h1>
            <span>
                Hace 35 años nace Óptica Los Andes, uno de los grupos empresariales más sólidos a nivel nacional. Hace más de 30 años la empresa se enfocó en abrir locales en los centros comerciales más importantes del país tales como el Bosque y Quicentro norte.
            </span>
            <span id="historia2">
                En el año 1983 nace nuestro primer laboratorio óptico “INDULENTES” ubicado en Quito en las calles Chile y Flores. En octubre de 1995 nace, “Sunglass Hot”, con un concepto juvenil y actualizado en gafas de sol, relojes y accesorios. Y en el año 2010 se creó “Eyes Ilusion” en Perú, con presencia en importantes centros comerciales como el del Jockey Plaza, en Lima. Antes del año 2004 iniciamos la administración de Guayaquil que se ubicó junto al laboratorio de Indulentes en Parque California. 
            </span>
            <span>
                El Grupo cuenta actualmente con más de 500 colaboradores, más de 70 locales en Ecuador y 10 locales en Perú.
            </span>
        </div>
    </section>
    <!-- MISION - VISION -->
    <section class="section-laempresa">
        <!--  -->
        <div class="info-mision">
            <div id="mision-a">
                <h1>MISIÓN</h1>
                <span>"Ser el grupo óptico que a través de la excelencia en el trabajo, innovación y enfoque en el servicio al cliente, genere un crecimiento rentable"</span>
            </div>
        </div>
        <div class="info-vision">
            <div id="vision-a">
                <h1>VISIÓN</h1>
                <span>"Fortalecer nuestro liderazgo con innovación y moda, fidelizando a nuestros clientes para lograr rentabilidad”</span>
            </div>
        </div>
        <!--  -->
    </section>
</div>
<div class="nav-circ">
    <a href="#/quienes_somos" class="div-selected"></a>
    <a href="#/trabaja_con_nosotros" ng-click="toSection($event,5)"></a>
</div>
