<div class="cont-quienes">
    <section class="gb-laempresa">
        <div class="img-laempresa"><img src="images/laempresa.jpg" alt="img-laempresa" /></div>
        <div class="info-laempresa">
            <h1>LA EMPRESA</h1>
            <span>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
            <br/><br/>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
        </span>
        </div>
    </section>
    <!-- MISION - VISION -->
    <section class="section-laempresa">
        <!--  -->
        <div class="info-mision">
            <div id="mision-a">
                <h1>MISIÓN</h1>
                <span>"Ser el grupo óptico que a través de la excelencia en el trabajo, innovación y enfoque en el servicio al cliente, genere un crecimiento rentable"</span>
            </div>
        </div>
        <div class="info-vision">
            <div id="vision-a">
                <h1>VISIÓN</h1>
                <span>"Fortalecer nuestro liderazgo con innovación y moda, fidelizando a nuestros clientes para lograr rentabilidad”</span>
            </div>
        </div>
        <!--  -->
    </section>
</div>
<div class="nav-circ">
    <a href="#/quienes_somos" class="div-selected">4</a>
    <a href="#/trabaja_con_nosotros" ng-click="toSection($event,5)">5</a>
</div>