<script>
document.getElementById("uploadBtn").onchange = function() {
    var filePath=this.value;
    if(filePath.match(/fakepath/)) {
        filePath = filePath.replace(/C:\\fakepath\\/i, '');
    }
    document.getElementById("uploadFile").value = filePath;
};
</script>
<section class="cont-contacto" ng-swipe-down="swipedown($event)">
    <div class="cont-fcontacto">
        <h1>TRABAJA CON NOSOTROS</h1>
        <span>
        </span>
        <form class="f-contacto" id="formTrabaja" enctype="multipart/form-data">
            <input type="text" placeholder="NOMBRE" ng-model="inombre" ng-keypress="keypressed($event)" name="nombre" class="noPreventDefault" />
            <input type="text" placeholder="EMAIL" ng-model="iemail" ng-keypress="keypressed($event)" name="email" class="noPreventDefault" />
            <input type="text" placeholder="CELULAR" ng-model="icelular" ng-keypress="keypressed($event)" name="celular" class="noPreventDefault" />
            <div class="file">
                <div class="fileUpload btn btn-primary">
                    <span>Currículum</span>
                    <input id="uploadBtn" type="file" name="cv" class="upload noPreventDefault" />
                </div>
                <input id="uploadFile" disabled="disabled" class="noPreventDefault" placeholder="Subir archivo..." />
                <div style="clear:both"></div>
            </div>
            <textarea placeholder="COMENTARIOS" ng-model="imensaje" ng-keypress="keypressed($event)" name="mensaje" class="noPreventDefault"></textarea>
            <div vc-recaptcha key="'6LeTWwcTAAAAAO3sGiEeUyKargRgVgxtykDuBO2H'" on-success="setResponse(response)" theme="dark"></div>
            <input type="submit" value="{{textoEnviar}}" ng-click="enviar($event)" ng-disabled="textoEnviar=='Enviando'" class="noPreventDefault" />
        </form>
        <alert ng-show="showAlert" type="{{alertType}}">{{alertMsg}}</alert>
          <div id="txt-laborales">Consulta nuestras ofertas laborales: <a href="http://opticalosandes.bumeran.com.ec/listadoofertas.bum" target="_blank">Aquí</a></div>
    </div>
    <img src="images/trabajo-ola.jpg" alt="trabaja con nosotros ola" id="img-trabaja" />
</section>
<div class="nav-circ">
    <a href="#/quienes_somos" ng-click="toSection($event,4)"></a>
    <a href="#/trabaja_con_nosotros" class="div-selected"></a>
</div>
<div class="info-copyright">
    <ul>
        <li>
            <a href="https://www.facebook.com/OpticaLosAndes?ref=hl" target="_blank"><img src="images/ico-facebook.jpg" alt="icono facebook" /></a>
        </li>
        <li>
            <a href="https://twitter.com/OPTICALOSANDES" target="_blank"><img src="images/ico-twitter.jpg" alt="icono twitter" /></a>
        </li>
        <li>
            <a href="http://instagram.com/opticalosandes" target="_blank"><img src="images/ico-instagram.jpg" alt="icono instagram" /></a>
        </li>
    </ul>
    <span>
            <!--<a href="http://opticalosandes.com.ec/docs/20150212130556636.pdf" target="_blank">Emisión de Obligaciones de la compañía ÓPTICA LOS ANDES S.A. por un monto de hasta (USD 2´000.000,00), Resolución aprobatoria.</a>  |  
            <a href="http://opticalosandes.com.ec/docs/EXTRACTO_EM_OLA.pdf" target="_blank">Extracto del informe de la Calificación de Riesgos de la Emisión de Obligaciones de la Compañía ÓPTICA LOS ANDES S.A.</a>  |  
            <a href="http://opticalosandes.com.ec/docs/Resolucion%20Cancelacion%20de%20Primera%20Emision%20Obligaciones%20OLA%20S.A..pdf" target="_blank">Resolución Cancelación de Primera Emisión Obligaciones  OLA S.A.</a>  |-->   © 2015 ÓPTICA LOS ANDES ALL RIGHTS RESERVED  ·  Powered by Share Digital Agency
        </span>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
