<section class="cont-contacto">
    <div class="cont-fcontacto">
        <h1>TRABAJA CON NOSOTROS</h1>
        <span>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
        </span>
        <form class="f-contacto">
            <input type="text" placeholder="NOMBRE" />
            <input type="text" placeholder="MAIL" />
            <input type="text" placeholder="TELÉFONO" />
            <input type="text" placeholder="CARGAR CURRICULUM" />
            <textarea placeholder="COMENTARIOS"></textarea>
            <input type="submit" value="Postular" />
        </form>
    </div>
    <img src="images/trabajo-ola.jpg" alt="trabaja con nosotros ola" id="img-trabaja" />
    <div class="info-copyright">
        <ul>
            <li>
                <a href="#"><img src="images/ico-facebook.jpg" alt="icono facebook" /></a>
            </li>
            <li>
                <a href="#"><img src="images/ico-twitter.jpg" alt="icono twitter" /></a>
            </li>
            <li>
                <a href="#"><img src="images/ico-instagram.jpg" alt="icono instagram" /></a>
            </li>
            <li>
                <a href="#"><img src="images/ico-youtube.jpg" alt="icono youtube" /></a>
            </li>
        </ul>
        <span><a href="http://opticalosandes.com.ec/docs/20150212130556636.pdf">Emisión de Obligaciones de la compañía ÓPTICA LOS ANDES S.A. por un monto de hasta (USD 2´000.000,00), Resolución aprobatoria.</a>  |  <a href="http://opticalosandes.com.ec/docs/EXTRACTO_EM_OLA.pdf">Extracto del informe de la Calificación de Riesgos de la Emisión de Obligaciones de la Compañía Optica Los Andes</a>  |  <a href="http://opticalosandes.com.ec/docs/Resolucion%20Cancelacion%20de%20Primera%20Emision%20Obligaciones%20OLA%20S.A..pdf">Resolución Cancelación de Primera Emisión Obligaciones  OLA S.A.</a>  |   © 2015 ÓPTICA LOS ANDES ALL RIGHTS RESERVED  ·  Powered by Share Digital Agency</span>
    </div>
</section>
<div class="nav-circ">
    <a href="#/quienes_somos" ng-click="toSection($event,4)">4</a>
    <a href="#/trabaja_con_nosotros" class="div-selected">5</a>
</div>
