@media screen and (max-width: 1600px) {
.info-mision, .info-vision{
	min-height:600px;
	}
}
@media screen and (max-width: 1366px) {
.info-mision, .info-vision{
	min-height:500px;
	}
}
@media screen and (max-width: 1280px) {
.info-cp {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
}	
.info-laempresa h1, #mision-a h1, #vision-a h1, .info-promo h1 {
  font-size: 3em;
}
.info-laempresa span, .info-promo span, #mision-a span, #vision-a span, .cont-fcontacto span, .info-producto span, .info-colores span {
 font-size: 0.9em;
 line-height:18px;
}
.info-promo span{
	margin: 20px 5% 0 5%;
	}
.menu-productos {
  width: 90%;
  padding: 1% 5%;
}	
.productos-ola {
  width: 90%;
  padding: 2% 5%;
}
.info-colores span {
	width:100%;
	float:left;
	margin:3px 0;
}
.tit-artre {
  font-size: 2.5em;
}
.list-locales li a:link, .list-locales li a:visited {
  font-size: 40px;
}
}
@media screen and (max-width: 1024px) {
.info-cp {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
.menu-productos {
  width: 95%;
  padding: 1% 2.5%;
}
.productos-ola {
  width: 95%;
  padding: 2% 2.5%;
}
.info-laempresa span {
  width: 100%;
}
.info-laempresa {
  width: 40%;
  padding: 1% 5%;
}
#mision-a {
  width: 41%;
}	
#vision-a {
  width: 41%;
}
.menu-op1 {
  width: 12%;
}	
.menu-op2 {
  width: 40%;
}
.cont-menu {
    width: 100%;
  float: left;
  padding: 0;
}
.list-locales li a:link, .list-locales li a:visited {
  font-size: 32px;
}
}	
@media screen and (min-width: 861px) {
nav.nav-resp, .trigger{
display: none!important;} }
@media screen and (max-width: 860px) {
section .gb-laempresa{
    height: auto;
  padding-top: 0px;
      width: 100%
	}    
nav.nav-resp{
    display: none;
}
    .trigger{
display: block;}    
nav {
  display:none;
}	
.img-laempresa {
  width: 100%;
}
.info-laempresa {
  width: 90%;
  padding:1% 5% 2% 5%;
}
.menu-productos label {
  font-size: 0.75em;
}
.cont-producto {
  width: 29%;
  padding: 2% 2% 0.5% 2%;
}
.tam-medida {
  width: 100%;
}
header {
  position: relative;
}
#cont-home {
  height: 90%;
  position: relative;
}
.sliderhome {
  /*height: auto;*/
  margin: 0;
}
.section-cp {
  height: 100%;
  position: relative;
}
.cont-contacto {
  
  padding: 5% 0;
}
    .info-copyright {
  width: 100%;
    left: 0}
.list-locales {
  width: 100%;
  margin: 0;
}
.cont-locales span{
    display: none;
}    
.list-locales li a:link, .list-locales li a:visited{
    font-size: 20px;
  padding: 0;
}    
.tit-encuentranos{
    padding: 2%;
      width: 100%;
  text-align: center;
}    
.desc-locales{
    width: 100%;
}    
.list-locales li{
      padding: 5px 5px;
}    
.info-locales {
  width: 100%;
  margin:0;
position: absolute;
  bottom: 10%} 
.submenu-locales li {
  padding: 2px;
  width: 50%;
}   
.loading2 {
  top: 15%;
  left: 47%;}    
.submenu-locales{
  top: auto;
  right: auto;
left: 0;    
  bottom: 8%;
  width: 100%!important;
}    
}
@media screen and (max-width: 640px){
.info-promo{
	width: 100%;
  margin: 10% auto;
	}
video {
  width: 100%;
  margin: 0 auto;
  
}
.info-copyright ul {
  width: 30%;
  margin: 50px 35% 0 35%;
}
.cont-fcontacto {
  width: 56%;
  padding: 50px 2% 0 2%;
}	
#mision-a, #vision-a {
  width: 90%;
  margin:4% 5% 0 5%;
}
.menu-op1, .menu-op2, .menu-op3 {
  width: 100%;
  margin:7px 0;
}
.menu-op2 {
  border-left: none;
  border-right: none;
  padding: 0;
}
.menu-op3 {
  border-right: none;
  padding: 0;
}
.menu-op1 ul li, .menu-op2 ul li, .menu-op3 ul li {
  width:auto; 
  float: left;
  padding: 4px 6px;
}
.menu-productos label {
  margin: 2px 0 0 5px;
}
.cont-improducto {
  width: 60%;
  margin: 0 20%;
}
.info-producto {
  width: 90%;
  margin: 20px 5%;
}
.img-contacto{
    display: none;
}    
}
@media screen and (max-width: 430px){
.info-copyright ul {
  width: 50%;
  margin: 50px 25% 0 25%;
}
.cont-contacto img {
  width: 60%;
  margin: 20px 0 0 0;
}
.cont-fcontacto {
  width: 100%;
  padding: 20px 5% 0 5%;
}
.cont-menu {
  padding: 0;
  width: 100%;
}
.logo-optica {
  width: 40%;
}
.info-laempresa h1, #mision-a h1, #vision-a h1, .info-promo h1 {
  font-size: 2.5em;
}
.info-promo h1 {
  line-height: 35px;
}
.info-laempresa span, .info-promo span, #mision-a span, #vision-a span, .cont-fcontacto span, .info-producto span, .info-colores span{
  font-size: 0.8em;
  line-height: 18px;
}
.cont-fcontacto h1 {
  font-size: 2.5em;
}
.info-copyright span {
  font-size: 0.7em;
    display: none;
}
#img-trabaja{
	display:none;
	}
.info-mision, .info-vision {
  min-height: 320px;
}	
.cont-producto h3 {
  font-size: 0.8em;
}
.cont-producto {
  width: 46%;
  padding: 2% 2% 0.5% 2%;
}
.cont-improducto {
  width: 90%;
  margin: 0 5%;
}
}
@media screen and (max-width: 340px){
.ver-descripcion:link, .ver-descripcion:visited {
  width: 16%;
}
.tit-artre {
  font-size: 2em;
  padding: 10px 10px;
}
}		
	

