@charset "utf-8";
/* CSS Document */
/* RESETEO PAGINA */
*{
	margin:0;
	padding:0;
	text-decoration:none;
	}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}	
::selection {
    background: #07b1c6;
    color: #fff!important;
}
::-webkit-selection {
    background: #07b1c6;
    color: #fff!important;
}
::-moz-selection {
    background: #07b1c6;
    color: #fff!important;
}
/* FONTS */
@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff2') format('woff2'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AvenirRegular';
    src: url('AvenirNextLTPro-Regular.otf');
    src: url('AvenirNextLTPro-Regular.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
/* ESTILOS */
h1{
	 font-family: 'bebas_neueregular';
	 color:#313131;
	}
/**/	
img{
	width:100%;
	}
body{
	 font-family: 'AvenirRegular', Helvetica, Arial;
	 margin:0;
	 padding:0;
	 color:#4f4f4f;
	 overflow: hidden;
    transition: 1s all;
	}
/**/	
header{
	width:100%;
	background-color:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	}	
.header-line{
	width:100%;
	float:left;
	background-color:#07b1c6;
	height:10px;
	}	
.cont-menu{
	width:80%;
	float:left;
	padding:1% 10%;
	}
.logo-optica{
	width:15%;
	float:left;
	}	
nav{
	width:80%;
	float:left;
	margin:2.5% 0 0 0;
	}
nav ul{
	width:100%;
	float:left;
	}
nav ul li{
	width:16.5%;
	float:left;
	list-style:none;
	
	}	
nav ul li a:link, nav ul li a:visited{
	width:100%;
	float:left;
	text-align:center;
	color:#a0a0a0;
	font-size:0.8em;
	}
.nav ul li a:hover{
	color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
/* HOME */
#cont-home{
	width:100vw;
	height:100vh;
	position:absolute;
	left:0;
	top:0;
	overflow: hidden;
	}	
/*Slides Home*/
.sliderhome{
	width:100%;
	height:94%;
	background-color:#0C9;
	float:left;
	position:relative;
	padding-top: 6%;
	}
/* CAMPAÑAS PROMOSIONALES */	
.section-cp{
	width:100vw;
	height:100vh;
	float:left;
	position:relative;
	background-color:#dde1e3;
	}	
.info-cp{
	width:80%;
	padding:10% 10%;
	}
.info-promo{
	width:40%;
	float:left;
	}
.info-promo h1{
	font-size:4em;
	width:90%;
	margin:2% 5% 0 5%;
	float:left;
	line-height: 55px;
	}
.info-promo span{
	width:90%;
	margin:30px 5% 0 5%;
	font-size:1em;
	text-align:justify;
	float:left;
	}		
video{
	width:60%;
	float:left;
	}
/* Section Contacto */
.cont-contacto{
	width:100%;
	height:95%;
	float:left;
	position:relative;
	background-color:#313131;
	padding-top: 5%;
    zoom: 80%;
	}
.img-contacto{
	width:38%;
	height:60%;
	float:left;
	margin:60px 0 0 0;
	position:relative;
	background-color:#06b1c5;
    
	}
.img-contacto img{
	width: 18.5%;
	float:left;
	outline:1px solid #FFF;
	position:absolute;
	}	
.barras2 img{
	width: 29.4% !important;
	float:left;
	position:absolute;
	}	
.barra25p{
	width:100%;
	height:25%;
	position:relative;
	float:left;
	}
.barra50p{
	width:100%;
	height:50%;
	position:relative;
	float:left;
	}
.cont-barrasdown25{
	width:63%;
	height:100%;
	position:relative;
	float:left;
	}	
.cont-imgcont{
	width:37%;
	height:100%;
	float:left;
	position:relative;
	}
.cont-imgcont img{
	width: 100%;
	float:left;
	position:absolute;
	}

.cont-quienes{
	width:100%;
	height:93%;
	float:left;
	position:relative;
	padding-top: 7%;
    zoom: 80%;
	}
/* POSICIONES IMAGENES */
#img-1{
	top:0;
	right:55.5%;
	}
#img-2{
	top:0;
	right:37%;
	}
#img-3{
	top:0;
	right:18.5%;
	}
#img-4{
	top:0;
	right:0;
	}
#img-5{
	top:0;
	right:74.1%;
	}
#img-6{
	top:0;
	right:37.1%;
	}
#img-7{
	top:0;
	right:0;
	}
#img-8{
	top:0;
	left:0;
	}
#img-9{
	top:0;
	left:40.8%;
	}
#img-10{
	top:0;
	right:40.9%;
	}
#img-11{
	top:0;
	right:0;
	}				
/**/						
.cont-fcontacto{
	width:50%;
	padding:50px 5% 0 5%;
	float:left;
	position:relative;
	}
	
.cont-fcontacto h1{
	color:#e0e0e0;
	font-size:3em;
	}
.cont-fcontacto span{
	width:100%;
	padding:1% 0;
	color:#e0e0e0;
	font-size:1em;
	}
.color-gb{
	color:#0bb0c7 !important;
	}
.f-contacto{
	width:100%;
	float:left;
	} 
.f-contacto input[type='text'], input[type='email']{
	width:40%;
	float:left;
	padding:20px 3% 5px 3%;
	background-color:#313131;
	outline:1px solid #e0e0e0;
	border:none;
	margin:20px 2% 0 0;
	color:#e0e0e0;
	}
.f-contacto select{
	width:46%;
	float:left;
	padding:20px 3% 5px 3%;
	background-color:#313131;
	outline:1px solid #e0e0e0;
	border:none;
	margin:20px 2% 0 0;
	color:#e0e0e0;
	}
.f-contacto textarea{
	width:88%;
	min-height:200px;
	float:left;
	margin:20px 0 0 0;
	outline:1px solid #e0e0e0;
	border:none;
	background-color:#313131;
	padding:10px 3%;
	color:#e0e0e0;
	}	
.f-contacto input[type='submit']{
	width:150px;
	background-color:#0bb0c7;
	border:1px solid #0bb0c7;
	color:#FFF;
	padding:10px 0;
	font-size:1em;
	float:right;
	margin:15px 5% 0 0;
	}	
.f-contacto input[type='submit']:hover{
	background-color:#313131;
	border:1px solid #0bb0c7;
	transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	cursor:pointer;
	}	
/* LA EMPRESA */
.gb-laempresa{
	background-color:#fcfcfc;
	}
.img-laempresa{
	width:50%;
	float:left;
	}
.info-laempresa{
	width:40%;
	padding:2% 5% 0 5%;
	float:left;
	}
.info-laempresa h1{
	font-size:4em;
	}
.info-laempresa span{
	width:80%;
	float:left;
	margin:3% 0 0 0;
	text-align:justify;
	line-height: 20px;
	}	
.section-laempresa{
	width:100%;
	float:left;
	}	
.info-mision, .info-vision{
	width:50%;
	float:left;
	min-height:600px;
	}
.info-mision{
	background:url(../images/img-mision.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;
	background-color:#ecedef;
	background-size:75%;
	}
.info-vision{
	background:url(../images/img-vision.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
	background-color:#ccccd0;
	background-size:75%;
	}	
#mision-a{
	width:35%;
	float:right;
	margin:8% 8% 0 0;
	}
#vision-a{
	width:35%;
	float:left;
	margin:8% 0 0 8%;
	}	
#mision-a h1, #vision-a h1{
	font-size:4em;
	}	
#mision-a span, #vision-a span{
	width:100%;
	float:left;
	margin:5px 0 0 0;
	text-align:justify;
	line-height: 20px;
	}							
/**/
.info-copyright{
	width:90%;
	margin:10px 5% 20px 5%;
	float:left;
	}	
.info-copyright ul{
	width:16%;
	margin:50px 42% 0 42%;
	float:left;
	}
.info-copyright ul li{
	width:23%;
	float:left;
	margin:0 1%;
	list-style:none;
	}
.info-copyright ul li img{
	width:100% !important;
	margin:0 !important;
	}	
.info-copyright ul li a:link img, .info-copyright ul li a:visited img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	} 
.info-copyright ul li a:hover img{
	-webkit-filter: grayscale(40%);
	-moz-filter: grayscale(40%);
	-o-filter: grayscale(40%);
	-ms-filter: grayscale(40%);
	filter: grayscale(40%);
	transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	}
.info-copyright span{
	width:100%;
	text-align:center;
	float:left;
	color:#e0e0e0;
	font-size:0.8em;
	margin:20px 0 0 0;
	}
.info-copyright span a:link, .info-copyright span a:visited{
	color:#e0e0e0;
	}
/* menu productos */
.menu-productos{
	background-color:#07b1c6;
	width:80%;
	padding:1% 10%;
	float:left;		
	}
.menu-op1{
	width:14%;
	float:left;
	}	
.menu-op1 h2{
	color:#FFF;
	font-size:1em;
	}	
.menu-op1 ul{
	width:100%;
	padding:0;
	margin:5px 0 0 0;
	}	
.menu-op1 ul li{
	width:100%;
	float:left;
	padding:3px 0;
	list-style:none;
	color:#FFF;
	}
.menu-op2{
	width:34%;
	float:left;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	padding:0 2.5%;
	}	
.menu-op2 h2{
	color:#FFF;
	font-size:1em;
	}	
.menu-op2 ul{
	width:100%;
	padding:0;
	margin:5px 0 0 0;
	}	
.menu-op2 ul li{
	width:33.3%;
	float:left;
	padding:3px 0;
	list-style:none;
	color:#FFF;
	}
.menu-op3{
	width:25%;
	float:left;
	border-right:1px solid #FFF;
	padding:0 0 0 2.5%;
	margin:0 2.5% 0 0;
	}	
.menu-op3 h2{
	color:#FFF;
	font-size:1em;
	}	
.menu-op3 ul{
	width:100%;
	padding:0;
	margin:5px 0 0 0;
	}	
.menu-op3 ul li{
	width:50%;
	float:left;
	padding:3px 0;
	list-style:none;
	color:#FFF;
	}	
.menu-productos input[type='checkbox']{
	border:none;
	background-color:#FFF;
	float:left;	
	}	
.menu-productos label{
	color:#FFF;
	float:left;
	font-size:0.8em;
	margin:0 0 0 5px;	
	}
/* PRODUCTOS OLA */
.productos-ola{
	width:80%;
	padding:2% 10%;
	float:left;
	}
.cont-producto{
	width:23%;
	padding:2% 1% 0.5% 1%;
	float:left;
	position:relative;
	}	
.cont-producto h3{
	width:100%;
	float:left;
	font-family: 'AvenirRegular', Helvetica, Arial;
	font-weight:200;
	color:#b0b0b0;
	text-align:center;
	font-size:0.9em;
	}
.cont-producto img{
	width:100%;
	margin:2px 0;
	
	float:left;
	}
.ver-descripcion:link, .ver-descripcion:visited{
	width:12%;
	text-align:center;
	padding:2% 0;
	background-color:#07b1c6;
	color:#FFF;
	border-radius:100%;
	font-size:1.1em;
	position:absolute;
	right:2%;
	bottom:2%;
	z-index:2;
	}	
.ver-descripcion:hover{
	background-color:#313131;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
	}						
/**/
.cont-improducto{
	width:45%;
	float:left;
	margin:0 0 0 2.5%;
	}	
.info-colores{
	width:100%;
	float:left;
	}
.info-colores span{
	float:left;
	}
.info-producto{
	width:45%;
	float:left;
	margin:0 0 0 2.5%;
	}	
.info-producto h1{
	font-size:3em;
	}	
.info-producto span{
	width:100%;
	float:left;
	text-align:justify;
	margin:5px 0;
	line-height:20px;
	}
.tam-medida{
	background-color:#b0b0b0;
	color:#FFF;
	padding:7px 0;
	text-align:center;
	width:50%;
	float:left;
	margin:10px 0 0 0;
	}
.art-relacionados{
	width:100%;
	margin:30px 0;
	border-top:1px solid #313131;
	float:left;
	clear:both;
	}	
.tit-artre{
	background-color:#313131;
	color:#FFF;
	font-family: 'bebas_neueregular';
	font-size:3em;
	float:left;
	padding:10px 30px;
	}
.separador{
	width:100%;
	height:10px;
	float:left;
	}
.color-gafas{
	width:35px;
	height:35px;
	float:left;
	margin:0 3px;
	}
#color-1{
	color:#666;
	background-color:#666;
	}
#color-2{
	color:#03F;
	background-color:#03F;
	}
#color-3{
	color:#900;
	background-color:#900;
	}
#color-4{
	color:#39F;
	background-color:#39F;
	}
#color-5{
	color:#F99;
	background-color:#F99;
	}
/**/
.nav-circ{
	width:10px;
	position:fixed;
	z-index:200;
	top:25%;
	right:1%;
	}
.nav-circ a:link, .nav-circ a:visited{
	width:10px;
	height:10px;
	border-radius:100%;
	background-color:rgba(255,255,255,0.6);
	font-size:0.5px;
	float:left;
	margin:10px 0;
	}	
.nav-circ a:hover, .div-selected{
	background-color:#0bb0c7 !important;
	width:6px !important;
	height:6px !important;
	padding:2px;
	border:1px solid #FFF;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
}
#img-trabaja{
	width:40%;
	float:left;
	}

.cont-locales{
	width: 100%;
	height: 92%;
	padding: 8% 0 0 0;
	position: relative;
	background: url(../images/fondo-locales.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	}
.cont-locales span{
	width:80%;
	float:left;
	margin:20px 10%;
	text-align:center;
	color:#FFF;
	}	
.list-locales{
	width:35%;
	float:left;
	margin:0 0 0 5%;
	}
.list-locales ul{
	width:100%;
	margin:0;
	padding:0;
	float:left;
	}	
.list-locales li{
	display:inline-block;
	list-style:none;
	padding:15px 5px;
	}	
.list-locales li a:link, .list-locales li a:visited{
	font-family: 'bebas_neueregular';
	padding:10px 20px;
	color:#FFF;
	outline:1px solid #FFF;
	font-size:46px;
	
	}
.list-locales li a:hover{
	outline:1px solid #2fb9c9;
	background:#2fb9c9;
	transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	}
.submenu-locales{
	width: 20% !important;
  /* padding: 30px 10% !important; */
  background: rgba(0,0,0,0.95);
  margin: 10px 0 0 0 !important;
  max-height: 300px;
  overflow-y: auto;
  opacity: 1;
  display: block;
      position: fixed;
  top: 26%;
  right: 35%;
  z-index: 999;
	}
.submenu-locales li{
	list-style: circle;
  padding: 15px 1%;
  width: 90%;
  float: left;
	}
.submenu-locales li a:link, .submenu-locales li a:visited{
	  font-family: 'bebas_neueregular';
  padding: 10px 20px;
  color: #FFF;
  outline: none;
  font-size: 20px;
	}			
.selectedList{
	outline:1px solid #2fb9c9 !important;
	background:#2fb9c9 !important;
	}			
.info-locales{
	width:50%;
	margin:0 0 0 5%;
	float:left;
	position:relative;
	}
.tit-encuentranos{
	float:left;
	padding:5px 30px;
	font-family: 'bebas_neueregular';
	font-size:48px;
	color:#313131;
	background:rgba(221,225,227,0.45);
	}	
.desc-locales{
	width:96%;
	position:absolute;
	left:0;
	bottom:0;
	background:rgba(0,0,0,0.8);
	color:#FFF;
	padding:20px 2%;
	}
.direccion{
	width:40%;
	float:left;
	}	
.direccion img{
	width:10%;
	float:left;
	}	
.txt-locales{
	width:80%;
	margin:0 5%;
	float:left;
	}	
.txt-locales span{
	font-size:0.9em;
	}	
.txt-telefonos{
	width:45%;
	float:left;
	margin:10px 5% 0 0;
	}	
.txt-telefonos img{
	width:15%;
	float:left;
	}
.txt-telefonos span{
	float:left;
	margin:3px 0 0 0;
	}
.direccion-maps{
	width:20%;
	float:left;
	}	
.direccion-maps img{
	width:20%;
	float:left;
	}
.direccion-maps a:link, .direccion-maps a:visited{
	color:#FFF;
	text-decoration:none;
	}


/* Angular Transitions */

.scroll-down-leave.ng-leave      {
    -webkit-animation:slideOutUp 0.7s both ease-in;
    -moz-animation:slideOutUp 0.7s both ease-in;
    animation:slideOutUp 0.7s both ease-in;
}
.scroll-down-enter.ng-enter      { 
    -webkit-animation:slideInUp 0.7s both ease-in;
    -moz-animation:slideInUp 0.7s both ease-in;
    animation:slideInUp 0.7s both ease-in;  
}
.scroll-up-leave.ng-leave      {
    -webkit-animation:slideOutDown 0.7s both ease-in;
    -moz-animation:slideOutDown 0.7s both ease-in;
    animation:slideOutDown 0.7s both ease-in;
}
.scroll-up-enter.ng-enter      { 
    -webkit-animation:slideInDown 0.7s both ease-in;
    -moz-animation:slideInDown 0.7s both ease-in;
    animation:slideInDown 0.7s both ease-in;  
}
.scroll-right-leave.ng-leave      {
    -webkit-animation:slideOutLeft 0.7s both ease-in;
    -moz-animation:slideOutLeft 0.7s both ease-in;
    animation:slideOutLeft 0.7s both ease-in;
}
.scroll-right-enter.ng-enter      { 
    -webkit-animation:slideInLeft 0.7s both ease-in;
    -moz-animation:slideInLeft 0.7s both ease-in;
    animation:slideInLeft 0.7s both ease-in;  
}
.scroll-left-leave.ng-leave      {
    -webkit-animation:slideOutRight 0.7s both ease-in;
    -moz-animation:slideOutRight 0.7s both ease-in;
    animation:slideOutRight 0.7s both ease-in;
}
.scroll-left-enter.ng-enter      { 
    -webkit-animation:slideInRight 0.7s both ease-in;
    -moz-animation:slideInRight 0.7s both ease-in;
    animation:slideInRight 0.7s both ease-in;  
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide out to the top */
@keyframes slideOutUp {
    from    { transform:translateY(0); }
    to      { transform: translateY(-100%); }
}
@-moz-keyframes slideOutUp {
    from    { -moz-transform:translateY(0); }
    to      { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes slideOutUp {
    from    { -webkit-transform:translateY(0); }
    to      { -webkit-transform: translateY(-100%); }
}

/* slide in from the bottom */
@keyframes slideInDown {
    from    { transform:translateY(-100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInDown {
    from    { -moz-transform:translateY(-100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInDown {
    from    { -webkit-transform:translateY(-100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide out to the top */
@keyframes slideOutDown {
    from    { transform:translateY(0); }
    to      { transform: translateY(100%); }
}
@-moz-keyframes slideOutDown {
    from    { -moz-transform:translateY(0); }
    to      { -moz-transform: translateY(100%); }
}
@-webkit-keyframes slideOutDown {
    from    { -webkit-transform:translateY(0); }
    to      { -webkit-transform: translateY(100%); }
}

/* slide in from the bottom */
@keyframes slideInLeft {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out to the top */
@keyframes slideOutLeft {
    from    { transform:translateX(0); }
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(-100%); }
}

/* slide in from the bottom */
@keyframes slideInRight {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(-100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(-100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out to the top */
@keyframes slideOutRight {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(100%); }
}

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
/*.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter         {  
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;    
}*/

/* about ------------------------ */
/*.page-about.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;   
}
.page-about.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}*/

/* contact ---------------------- */
/*.page-contact.ng-leave      {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter      { 
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;  
}*/

/* rotate and fall */
/*@-webkit-keyframes rotateFall {
    0% { -webkit-transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
    40% { -webkit-transform: rotateZ(17deg); }
    60% { -webkit-transform: rotateZ(16deg); }
    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
    0% { -moz-transform: rotateZ(0deg); }
    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
    40% { -moz-transform: rotateZ(17deg); }
    60% { -moz-transform: rotateZ(16deg); }
    100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
    0% { transform: rotateZ(0deg); }
    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% { transform: rotateZ(17deg); }
    60% { transform: rotateZ(16deg); }
    100% { transform: translateY(100%) rotateZ(17deg); }
}*/

/* scale up */
/*@keyframes scaleUp {
    from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
    from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
    from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}*/

/* slide in from the right */
/*@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}*/



/* slide in from the bottom */
/*@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}*/

/* rotate out newspaper */
/*@-webkit-keyframes rotateOutNewspaper {
    to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
    to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}*/

/* --Angular Transitions-- */

/*loader*/
body {
  margin: 0;
    transition: 0.3s all;
    
}
.cont-loader{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}    
.mid-top, .mid-bot {
    width: 100%;
    height: 50%;
    background: #00B0C7;
    float:left;
    position: relative;
} 
.hide-top{
    -webkit-animation: top-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
    -moz-animation: top-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
    animation: top-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}  
.hide-bot{
    -webkit-animation: bot-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
    -moz-animation: bot-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
    animation: bot-hide 1s 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}    
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loading .dot {
  position: absolute;
  border-radius: 50%;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  background: white;
  -webkit-animation: spin 2.5s 0s infinite both;
    -moz-animation: spin 2.5s 0s infinite both;
    animation: spin 2.5s 0s infinite both;
    
}
.loading .dot2 {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-animation: spin2 2.5s 0s infinite both;
    -moz-animation: spin2 2.5s 0s infinite both;
    animation: spin2 2.5s 0s infinite both;
}
.loading2 {
    position: absolute;
  top: 50%;
  left: 22%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading2 .dot {
  position: absolute;
  border-radius: 50%;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  background: white;
  -webkit-animation: spin 2.5s 0s infinite both;
    -moz-animation: spin 2.5s 0s infinite both;
    animation: spin 2.5s 0s infinite both;
    
}
.loading2 .dot2 {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-animation: spin2 2.5s 0s infinite both;
    -moz-animation: spin2 2.5s 0s infinite both;
    animation: spin2 2.5s 0s infinite both;
}
/*anim chome*/
@-webkit-keyframes spin {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  25%, 75% {
    box-shadow: 28px 0 0 white, -28px 0 0 white, 0 28px 0 white, 0 -28px 0 white, 20px -20px 0 white, 20px 20px 0 white, -20px -20px 0 white, -20px 20px 0 white;
  }
  100% {
    -webkit-transform: rotate(360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}
@-webkit-keyframes spin2 {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  25%, 75% {
    box-shadow: 52px 0 0 white, -52px 0 0 white, 0 52px 0 white, 0 -52px 0 white, 38px -38px 0 white, 38px 38px 0 white, -38px -38px 0 white, -38px 38px 0 white;
    background: transparent;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}

/*afterloading*/  
@-webkit-keyframes top-hide {
    0% {-webkit-transform:translateY(0%)}
    100%{-webkit-transform:translateY(-100%)}
}  
    
    
@-webkit-keyframes bot-hide {
    0% {-webkit-transform:translateY(0%)}
    100%{-webkit-transform:translateY(100%)}
}

/*anim-moz*/
@-moz-keyframes spin {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  25%, 75% {
    box-shadow: 28px 0 0 white, -28px 0 0 white, 0 28px 0 white, 0 -28px 0 white, 20px -20px 0 white, 20px 20px 0 white, -20px -20px 0 white, -20px 20px 0 white;
  }
  100% {
    -moz-transform: rotate(360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}
@-moz-keyframes spin2 {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  25%, 75% {
    box-shadow: 52px 0 0 white, -52px 0 0 white, 0 52px 0 white, 0 -52px 0 white, 38px -38px 0 white, 38px 38px 0 white, -38px -38px 0 white, -38px 38px 0 white;
    background: transparent;
  }
  100% {
    -moz-transform: rotate(-360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}

/*afterloading*/  
@-moz-keyframes top-hide {
    0% {-moz-transform:translateY(0%)}
    100%{-moz-transform:translateY(-100%)}
}  
    
    
@-moz-keyframes bot-hide {
    0% {-moz-transform:translateY(0%)}
    100%{-moz-transform:translateY(100%)}
}
/*anim-ms*/
@keyframes spin {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    transform: rotate(180deg);
  }
  25%, 75% {
    box-shadow: 28px 0 0 white, -28px 0 0 white, 0 28px 0 white, 0 -28px 0 white, 20px -20px 0 white, 20px 20px 0 white, -20px -20px 0 white, -20px 20px 0 white;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}
@keyframes spin2 {
  0%, 100% {
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
  50% {
    transform: rotate(-180deg);
  }
  25%, 75% {
    box-shadow: 52px 0 0 white, -52px 0 0 white, 0 52px 0 white, 0 -52px 0 white, 38px -38px 0 white, 38px 38px 0 white, -38px -38px 0 white, -38px 38px 0 white;
    background: transparent;
  }
  100% {
    transform: rotate(-360deg);
    box-shadow: 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white, 0 0 0 white;
  }
}

/*afterloading*/  
@keyframes top-hide {
    0% {transform:translateY(0%)}
    100%{transform:translateY(-100%)}
}  
    
    
@keyframes bot-hide {
    0% {transform:translateY(0%)}
    100%{transform:translateY(100%)}
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #2fb9c9; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #2fb9c9; 
}
/*Angular transitions*/

.at-view-slide-in-left.ng-enter {
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -webkit-transform: translate(0%, -100%);
    -moz-transition-duration: 0.5s;
    -moz-transform: translate(0%, -100%);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.at-view-slide-in-left.ng-enter-active {
   opacity: 1;
    -webkit-transition-duration: 0.5s;
   -webkit-transform: translate(0%, 0%);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.at-view-flip-out-right-opposite.ng-leave {
    opacity: 1;
    -webkit-transition-duration: 0.5s;
   -webkit-transform: translate(0%, 0%);
    -moz-transition-duration: 0.5s;
   -moz-transform: translate(0%, 0%);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.at-view-flip-out-right-opposite.ng-leave-active {
    opacity: 0;
    -webkit-transition-duration: 0.5s;
   -webkit-transform: translate(0%, 100%);
    -moz-transition-duration: 0.5s;
   -moz-transform: translate(0%, 100%);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}